@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: 'width' 100;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2b616;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  background: #191200;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  color: #dbb205;
  font-size: 28px;
  font-weight: 300;
}

.container .input-box label {
  color: var(--white);
}

.container .input-box input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 18px;
  margin-top: 5px;
  color: var(--white);
  background: #272111;
}

.container .input-box {
  position: relative;
  padding-bottom: 5%;
}

.input-box .eye {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #dbb205;
  cursor: pointer;
}

.container .remember-me input:active {
  color: #191200;
}

.container .remember-me {
  position: relative;
  margin-bottom: 10px;
  color: var(--white);
}

.remember-me .forgot-password-link {
  position: absolute;
  right: 0;
  color: var(--white);
  text-decoration: none;
}

.container .btn-box .btn {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  color: var(--white);
  font-size: 16px;
  background: #f0be15;
  cursor: pointer;
}

.remember-me input[type='checkbox'] {
  accent-color: #f0be15;
}

.container .login-social-media {
  display: flex;
  width: 100%;
  margin-top: 5%;
  justify-content: space-around;
}

.login-social-media .icon-box {
  border: none;
  padding: 5%;
  border-radius: 100%;
  background-color: var(--white);
}
